<!-- dht11.component.html -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="background-color: #efecf2; color: rgb(46, 42, 42);">
        <div class="card-header">
          <h3 class="text-center">DHT11 Data List</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped" style="background-color: #D69BFF;">
            <thead>
              <tr>
                <th style="background-color: #615dff; color: white;">Temperature</th>
                <th style="background-color: #7C7BFF; color: white;">Humidity</th>
                <th style="background-color: #9998FF; color: white;">Date and Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of projet">
                <td>{{ item.temp !== null ? item.temp : 'N/A' }}</td>
                <td>{{ item.hum !== null ? item.hum : 'N/A' }}</td>
                <td>{{ item.dt | date: 'medium' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
