<style>
  .or-divider {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #333; /* Adjust color as needed */
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-up-button {
  background-color: #075dd6; /* Green color, adjust as needed */
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

</style>

<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/dark-logo.svg"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>

          <div class="row m-t-24 custom-row">
            <div class="col-12 col-sm-6">
              <button mat-stroked-button class="w-100">
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/google-icon.svg"
                    alt="google"
                    width="16"
                    class="m-r-8"
                  />
                  Sign in with Google
                </div>
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button
                mat-stroked-button
                class="w-100 d-flex align-items-center"
              >
                <div class="d-flex align-items-center">
                  <img
                    src="/assets/images/svgs/facebook-icon.svg"
                    alt="facebook"
                    width="40"
                    class="m-r-4"
                  />
                  Sign in with FB
                </div>
              </button>
            </div>
          </div>

          <div class="or-divider m-t-30">Create an account</div>

<div class="form-fields m-t-30">
  <div class="form-group">
    <label class="label">Name</label>
    <div class="input-container">
      <input [(ngModel)]="users.username" class="input-field" placeholder="Enter your name" />
    </div>
  </div>

  <div class="form-group">
    <label class="label">Email Address</label>
    <div class="input-container">
      <input type="email" [(ngModel)]="users.email" class="input-field" placeholder="Enter your email" />
    </div>
  </div>

  <div class="form-group">
    <label class="label">Password</label>
    <div class="input-container">
      <input type="password" [(ngModel)]="users.password" class="input-field" placeholder="Enter your password" />
    </div>
  </div>

  <button class="sign-up-button" (click)="add()">Sign Up</button>
</div>

          <span class="d-block f-w-500 text-center m-t-24"
            >Already have an Account?

            <a
              [routerLink]="['']"
              class="text-decoration-none text-primary f-w-500 f-s-14"
            >
              Sign In</a
            >
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
